body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #163152;
  background-color: #fdfdff;
  margin: 0;
}

.site-navigation-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #163152;
  text-decoration: none;
}

.hero h1 {
  font-style: italic;
  font-weight: normal;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  margin: 0;
  padding-left: 70px;
  padding-right: 612px;
  padding-bottom: 40px;
}

.blog-article h2 {
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
  margin:0;
  margin-bottom: 35px;
}

.blog-article-date {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.news h2 {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.post-img img {
  display: block;
  margin-bottom: 17px;
}

.post-img figcaption {
  font-size: 16px;
  line-height: 19px;
  color: #8693a4;
  margin-bottom: 33px;
}

.post h3 {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 27px;
}

.post p {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.results-content p:first-child {
  margin-bottom: 12px;
}

.post h4 {
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 15px;
}

.post ul {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.team-list {
  width: 202px;
  margin-top: 24px;
  margin-bottom: 30px;
}

.post ins {
  text-decoration: none;
}

.post blockquote {
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  margin: 0;
  margin-top: 38px;
  margin-bottom: 30px;
  border-left:2px solid rgba(0, 198, 189, 1);
  padding-left: 20px;
}

.post-footer {
  display: flex;
  margin-top: 40px;
  align-items: center;
}

.post-footer img {

}

.post-meta {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  margin-left: 15px !important;
}

.post-meta a {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #163152;
  text-decoration: none;
}

.post-meta time {
  font-size: 16px;
  line-height: 19px;
  color: #8693a4;
}

.post-share {
  margin-left: auto;
}

.post-share:hover {
  opacity: 0.5;
}

.post-share:active {
  opacity: 0.3;
}

.contacts {
  width: 1010px;
}

.contacts h2 {
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
  margin: 0;
  margin-bottom: 35px;
}

.contacts-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-item {
  font-size: 16px;
  line-height: 22px;
  display: flex;
  column-gap: 10px;
  margin-bottom: 15px;
}

.contact-item:last-child {
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 0;
}

.social-list {
  display: flex;
}

.social-item  {
  border: 1px solid rgba(0, 198, 189, 1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
}


.contact-item h3 {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}


.contact-item address {
  font-style: normal;
}

.contact-item a {
  color: #163152;
  text-decoration: none;
}

.main-footer {
  font-size: 10px;
  line-height: 12px;
}

.footer-navigation-topics {
  font-size: 14px;
  line-height: 16px;
}

.footer-navigation-topic h2 {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.footer-navigation-item a {
  color: #163152;
  text-decoration: none;
}

.policy a {
  color: #163152;
  text-decoration: none;
}

.page-header {
  width: 1170px;
  margin: 0 auto;
  padding: 20px 55px;
  margin-bottom: 40px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin: 0;
  width: 64px;
  height: 68px;
}

.main-nav .logo {
  margin-right: 471px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 559px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

.signin {
  margin-left: auto;
  width: 36px;
  height: 36px;
  border: 1px solid rgba(0, 198, 189, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-navigation-item a:hover {
  color: rgba(22, 49, 82, 0.5);
}

.site-navigation-item a:active {
  color: rgba(22, 49, 82, 0.3);
}

.signin:hover {
 opacity: 0.5;
}

.signin:active {
  opacity: 0.3;
}

.main-content {
  width: 1170px;
  margin: 0 auto;
  padding-left: 55px;
  padding-right: 55px;
}

.hero {
  margin-bottom: 120px;
}


.hero img {
  display: block;
}

.blog-article {
  width: 1030px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.blog-article-1 {
  margin-bottom: 100px;
}

.blog-article-2 {
  margin-bottom: 120px;
  flex-direction: row-reverse;
  
}

.blog-article-content {
  width: 400px;
}

.blog-content-2 {
  text-align: right;
}

.blog-article-description {
  margin: 0;
}

.blog-article-img {
  width: 600px;
  display: block;
}

.news {
  width: 770px;
  margin: 0 auto 120px;
}

.news h2 {
  margin: 0 auto 55px;
}

.post-img {
  margin: 0;
  width: 770px;
}

.contacts {
  margin-right: auto;
  display: flex;
  flex-direction: row-reverse;
}

.contacts-content {
  width: 400px;
  margin-left: 100px;
}

.contacts-img {
  width: 670px;
  margin-right: auto;
  display: block;
}

.main-footer {
  padding: 60px 0;
  margin-top: 120px;
}

.footer-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  padding: 0 55px;
}

.footer-column {
  width: 175px;
  margin-right: 125px;
}

.footer-navigation-topics {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-navigation-topic {
  width: 165px;
  margin-right: 70px;
}

.footer-navigation-topics h2 {
  margin-top: 0;
}

.footer-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-navigation-topic:last-child {
  margin-right: 0;
}

.gallery h2 {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.gallery {
  width: 1170px;
  margin: 0 auto 120px;
}

.gallery h2 {
  margin: 0;
  margin-bottom: 55px;
}

.gallery-wrapper {
  display: flex;
}

.active-img {
  width: 970px;
  margin-right: 30px;
  display: block;
}

.gallery-preview {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 170px;
}

.preview-item {
  margin-bottom: 30px;
  display: block;
  height: 150px;
}

.preview-item:last-child {
  margin-bottom: 0;
}

.gallery-preview a {
  position: relative;
  display: block;
}

.gallery-preview a::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.gallery-preview  a.active-item::before {
  background-color: transparent;
}