body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #163152;
  background-color: #fdfdff;
  margin: 0;
}

.site-navigation-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #163152;
  text-decoration: none;
}

.hero h1 {
  font-style: italic;
  font-weight: normal;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
}

.blog-article h2 {
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.blog-article-date {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.news h2 {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.post-img figcaption {
  font-size: 16px;
  line-height: 19px;
  color: #8693a4;
}

.post h3 {
  font-size: 22px;
  line-height: 26px;
}

.post p {
  font-size: 18px;
  line-height: 26px;
}

.post h4 {
  font-size: 20px;
  line-height: 26px;
}

.post ul {
  font-size: 18px;
  line-height: 26px;
}

.post ins {
  text-decoration: none;
}

.post blockquote {
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
}

.post-meta a {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #163152;
  text-decoration: none;
}

.post-meta time {
  font-size: 16px;
  line-height: 19px;
  color: #8693a4;
}

.contacts h2 {
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.contact-item {
  font-size: 16px;
  line-height: 22px;
}

.contact-item h3 {
  font-size: 16px;
  line-height: 22px;
}

.contact-item address {
  font-style: normal;
}

.contact-item a {
  color: #163152;
  text-decoration: none;
}

.main-footer {
  font-size: 10px;
  line-height: 12px;
}

.footer-navigation-topics {
  font-size: 14px;
  line-height: 16px;
}

.footer-navigation-topic h2 {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.footer-navigation-item a {
  color: #163152;
  text-decoration: none;
}

.policy a {
  color: #163152;
  text-decoration: none;
}

.page-header {
  width: 1170px;
  margin: 0 auto;
  padding: 20px 55px;
}

.main-nav {
  display: flex;
}

.logo {
  margin: 0;
  width: 64px;
}

.main-nav .logo {
  margin-right: 471px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 559px;
}

.signin {
 margin-left: auto;
 width: 36px;
}

.main-content {
  width: 1170px;
  margin: 0 auto;
  padding-left: 55px;
  padding-right: 55px;
}

.hero {
  margin-bottom: 120px;
}

.blog-article {
  width: 1030px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.blog-article-1 {
  margin-bottom: 100px;
}

.blog-article-2 {
  margin-bottom: 120px;
  flex-direction: row-reverse;
}

.blog-article-content {
  width: 400px;
}

.blog-article-img {
  width: 600px;
}

.news {
 width: 770px;
 margin: 0 auto 120px;
}

.news h2 {
  margin: 0 auto 55px;
}

.post-img {
  margin: 0;
  width: 770px;
}

.contacts {
  margin-right: auto;
  display: flex;
  flex-direction: row-reverse;
}

.contacts-content {
  width: 400px;
  margin-left: 100px;
}

.contacts-img {
  width: 670px;
  margin-right: auto;
}

.main-footer {
  padding: 60px 0;
  margin-top: 120px;
}

.footer-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  padding: 0 55px;
}

.footer-column {
  width: 175px;
  margin-right: 125px;
}

.footer-navigation-topics {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-navigation-topic {
  width: 165px;
  margin-right: 70px;
}

.footer-navigation-topics h2 {
  margin-top: 0;
}

.footer-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-navigation-topic:last-child {
  margin-right:0;
}